# ================================
# EXAMPLE PLACEHOLDER ENV FILE
# ================================

# URL de conexão com o banco (usado pelo NestJS / Prisma)
# Substitua 'examplepassword' e 'exampledb' conforme necessário
DATABASE_URL="postgresql://exampleuser:examplepassword@db:5432/exampledb"

# Credenciais do PostgreSQL (usado pelo container)
# Substitua se quiser nomes diferentes para dev local
POSTGRES_USER=exampleuser
POSTGRES_PASSWORD=examplepassword
POSTGRES_DB=exampledb

# Auth Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Token JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=

# Porta da aplicação NestJS
PORT=3000