# ================================
# EXAMPLE PLACEHOLDER ENV FILE
# ================================

# URL de conexão com o banco (usado pelo NestJS / Prisma)
# Substitua 'examplepassword' e 'exampledb' conforme necessário
DATABASE_URL="postgresql://exampleuser:examplepassword@db:5432/exampledb"

# Credenciais do PostgreSQL - Local
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Porta da aplicação NestJS
PORT=3000