@import 'tailwindcss';
@import '@fontsource-variable/geist';

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@theme inline {
  --color-default-color: #fbfbfc;
  --color-main-color: #263f4c;
}
